/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * SlovenianTarokk implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * sloveniantarokk.css
 *
 * SlovenianTarokk stylesheet
 *
 */

/** Table layout **/

#playertables {
	position: relative;
	width: 810px;
	height: 500px;
}

.playertablename {
	font-weight: bold;
}

.playertable {
	position: absolute;
	text-align: center;
	width: 120px;
	height: 200px;
}

.playertable_N {
	left: 50%;
	top: 0px;
	margin-left: -80px;
}
.playertable_S {
	left: 50%;
	bottom: 0px;
	margin-left: -80px;
}
.playertable_W {
	left: 50px;
	top: 50%;
	margin-top: -60px;
}
.playertable_E {
	right: 50px;
	top: 50%;
	margin-top: -60px;
}

.playerinfo {
	position: absolute;
	width: 80px;
	height: 80px;
}

.playerinfo_N {
	margin-left: 70px;
	left: 50%;
	top: 0px;
}
.playerinfo_S {
	margin-left: 70px;
	left: 50%;
	bottom: 120px;
}
.playerinfo_W {
	left: 200px;
	top: 50%;
	margin-top: -60px;
}
.playerinfo_E {
	right: -60px;
	top: 50%;
	margin-top: -60px;
}

#vitamin {
	left: 52.5%;
	bottom: 145px;
	margin-left: -80px;
}

.playertablecard {
	display: inline-block;
	position: relative;
	margin-top: 5px;
	width: 100px;
	height: 175px;
}

.cardontable {
	position: absolute;
	width: 100px;
	height: 175px;
	background-image: url("img/cards.png");
}

#talonexchange {
	position: absolute;
	width: 100%;
	height: 185px;
	top: 100px;
	display: none;
}

.talon_exchange_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#talonexchange .cardset {
	gap: 5px;
	padding-right: 20px;
}

#talonexchange .cardontable {
	position: relative;
}
